@font-face {
    font-family: 'Fira Mono';
    src: url('firamono-medium-webfont.woff2') format('woff2'),
         url('firamono-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal; }
